<br>
<a class="waves-effect waves-light btn" routerLink="/parametrizacion/crear-inmuebles"><i class="material-icons left">add</i>Agregar</a>

<table class="table responsive-table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Identificador
            </th>
            <th>
                Valor
            </th>
            <th>
                Bloque
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of listarRegistros | paginate: { itemsPerPage: regPorPagina, currentPage: pagina }">
            <th>
                {{r.Id_inmueble}}
            </th>
            <th>
                {{r.Identificador}}
            </th>
            <th>
                {{r.Valor}}
            </th>
            <th>
                {{r.bloque.Nombre}}
            </th>
            <th>
                <a class="waves-effect orange waves-light btn" routerLink="/parametrizacion/editar-inmuebles/{{r.Id_inmueble}}"><i class="material-icons left">edit</i>Modificar</a>
                &nbsp;&nbsp;
                <a class="waves-effect red waves-light btn" routerLink="/parametrizacion/eliminar-inmuebles/{{r.Id_inmueble}}"><i class="material-icons left">delete</i>Eliminar</a>

            </th>
        </tr>
    </tbody>
</table>

<pagination-controls  (pageChange)="CambioPagina($event)"
                      previousLabel="Anterior"
                      nextLabel="Siguiente">
</pagination-controls>

