<footer class="page-footer blue">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="white-text">Constructora UdeC S.A.S</h5>
          <p class="grey-text text-lighten-4">Proyecto de entrega de Programacion 3 de la Universidad de Caldas <br>
          Backend: Loopback 4 <br>
          Frontend: Angular <br>
          Profesor: Jeferson Arango</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contacto</h5>
          <ul>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/alejandroposada14/">Alejandro Posada</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/david_g4rcia/">Jhonatan Garcia</a></li>
            <li><a class="grey-text text-lighten-3" href="https://www.instagram.com/alberth_2801/">Alberth Cifuentes</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
      © 2021 Universidad de Caldas
      </div>
    </div>
  </footer>
