<br>
<a class="waves-effect waves-light btn" routerLink="/parametrizacion/crear-ciudades"><i class="material-icons left">add</i>Agregar</a>

<table class="table responsive-table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nombre
            </th>
            <th>
                Pais
            </th>
            <th>
                Acciones
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let r of listarRegistros | paginate: { itemsPerPage: regPorPagina, currentPage: pagina }">
            <th>
                {{r.Id_ciudad}}
            </th>
            <th>
                {{r.Nombre}}
            </th>
            <th>
                {{r.pais}}
            </th>
            <th>
                <a class="waves-effect orange waves-light btn" routerLink="/parametrizacion/editar-ciudades/{{r.Id_ciudad}}"><i class="material-icons left">edit</i>Modificar</a>
                &nbsp;&nbsp;
                <a class="waves-effect red waves-light btn" routerLink="/parametrizacion/eliminar-ciudades/{{r.Id_ciudad}}"><i class="material-icons left">delete</i>Eliminar</a>

            </th>
        </tr>
    </tbody>
</table>

<pagination-controls  (pageChange)="CambioPagina($event)"
                      previousLabel="Anterior"
                      nextLabel="Siguiente">
</pagination-controls>