<nav>
    <div class="nav-wrapper blue ">
      <a routerLink="/" class="brand-logo"><img src="../../../../assets/imagenes/logo.jpg" height="64" width="180"></a>
      <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li *ngIf="isAdmin"><a routerLink="usuario/listar-usuario">Usuarios</a></li>
        <li *ngIf="isVende"><a routerLink="ventas/listar-cliente">Cliente</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="parametrizacion/listar-paises">Paises</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="parametrizacion/listar-ciudades">Ciudades</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="parametrizacion/listar-proyectos">Proyectos</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="parametrizacion/listar-bloques">Bloques</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="parametrizacion/listar-inmuebles">Inmuebles</a></li>
        <li *ngIf="isLoggedIn"><span class="flow-text">{{nombreCompleto}}</span></li>
        <li *ngIf="isLoggedIn"><a routerLink="seguridad/cambiar-clave">Cambiar Contraseña</a></li>
        <li *ngIf="isLoggedIn"><a routerLink="seguridad/cerrar-sesion">Cerrar Sesión</a></li>
        <li *ngIf="!isLoggedIn"><a routerLink="seguridad/iniciar-sesion">Iniciar Sesion</a></li>
      </ul>
    </div>
    
  </nav>

  <ul class="sidenav" id="mobile-demo">
    
    <li *ngIf="isLoggedIn" class="" ><span class="flow-text">{{nombreCompleto}}</span></li>
    <li *ngIf="isLoggedIn"><a routerLink="seguridad/cambiar-clave">Cambiar Contraseña</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="seguridad/cerrar-sesion">Cerrar Sesión</a></li>
    <hr>
    <li *ngIf="isVende"><a routerLink="ventas/listar-cliente">Cliente</a></li>
    <hr>
    <li *ngIf="isAdmin"><a routerLink="usuario/listar-usuario">Usuarios</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="parametrizacion/listar-paises">Paises</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="parametrizacion/listar-ciudades">Ciudades</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="parametrizacion/listar-proyectos">Proyectos</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="parametrizacion/listar-bloques">Bloques</a></li>
    <li *ngIf="isLoggedIn"><a routerLink="parametrizacion/listar-inmuebles">Inmuebles</a></li>
    <li *ngIf="!isLoggedIn"><a routerLink="seguridad/iniciar-sesion">Iniciar Sesion</a></li>
  </ul>

  